*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
  body{
    background-color: #ccc;

  }
 .container {
    max-width: 900px;
    margin: 0;
 }
 .apply_box {
    max-width: 600px;
    padding: 40px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px; rgba(1, 1, 1, 0.1);
    border-radius: 10px;
     
 }